<!-- views/auth/signup.hbs -->


<div class="container panels">
  <div class="row">
    <div class="col-5 area">
      <h4>Alta de usuario</h4>
      <form action="/auth/signup" method="POST" id="form-container">
        <div class="form-group">
          <label for="username">Nombre de Usuario</label>
          <input type="name" class="form-control" name="username" id="username" placeholder="Nombre de usuario">
        </div>
        <div class="form-group">
          <label for="password">Contrase単a</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Contrase単a">
        </div>
        <div class="form-group">
          <label for="password">Repita contrase単a</label>
          <input type="password" class="form-control" name="password2" id="password" placeholder="Repita contrase単a">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="user@domain">
        </div>
        
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
        <button type="submit" class="btn btn-primary buttonCenter">Create account</button>
      </form>

      <p class="account-message">
    Ya tienes cuenta?
    <a href="/auth/login">Login</a>
  </p>


    </div>
  </div>


</div>