<h2>{{user.username}} conviertete en profesor</h2>

<form action="/becomeTeacher" method="POST" id="form-container">


  <button>Convertir</button>

  <p class="account-message">
    Ya tienes cuenta?
    <a href="/auth/login">Login</a>
  </p>
</form>