<div class="row align-items-center landing">
    <div class="col-12 tittleLanding">
    
            <h1 class="text-center">{{title}}</h1>
            <h4 class="text-center">La plataforma que te enseña estés donde estés</h4>

    </div>
</div>